body {margin: 0; height: 100%; width: 400px; font-size: small; color: #295288; font-family: 'Open Sans', sans-serif; user-select: none !important}

nav {padding: 2px; height: 28px; line-height: 28px; background: #295288; color: #fff; margin-bottom: 15px}
nav span {text-align: left; float: left; padding-left: 8px; font-weight: bold}

main {margin: 0 10px; padding-bottom: 5px}
header {font-weight: normal; font-size: 1.3em; border-bottom: 1px solid #e1e1e1; padding-bottom: 12px; margin-bottom: 15px}
h4 {margin-top: 8px; margin-bottom: 8px}

article {height: 35px; display: flex; justify-content: space-between; margin-left: -1px; width: 100%}
article mark {width: 200px; padding: 5px 5px; background-color: transparent; color: #295288; display: table-cell; padding-left: 10px !important}
article mark input {width: 100%; margin: -4px 0 0 -10px}

input[type=text] {padding: 5px 4px; border: 1px solid #ccc; border-top: 1px solid #999; width: 150px; font-family: Tahoma, Arial, sans-serif}
input[readonly] {color: #888}

button {padding: 6px 12px; margin-right: 3px; background-color: #46A7C9; border: 1px solid #fff; color: #fff; cursor: pointer; height: 30px}
button:hover {background: #02a9e0}